.tabButton {
  color: #7b8794;
  width: 180px;
  height: 30px;
  background-color: transparent;
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
}
.active-tab {
  border-width: 1px;
  border-bottom: #2563eb;
  color: #2563eb;
  border-style: solid;
  border-top: 0px;
  border-left: none;
  border-right: none;
}
@media screen and (min-width: 768px) {
  .tabButton {
    width: 190px;
    height: 40px;
    font-size: 25px;
  }
}
